@font-face {
    font-family: 'Share Tech';
    font-style: normal;
    font-weight: 400;
    src: local('Share Tech Regular'), local('ShareTech-Regular'), url(fonts/ShareTech.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Share Tech Mono';
    font-style: normal;
    font-weight: 400;
    src: local('Share Tech Mono Regular'), local('ShareTechMono-Regular'), url(fonts/ShareTechMono.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
 
* {
    color: white;
    font-family: 'Share Tech';
    font-size: 3vmin;
}

body {
    background-image: url("images/bg.jpg");
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    font-size: 5vmin;
    margin: 2vmin;
    text-shadow: 3px 2px rgba(153, 145, 175, 0.5);
    text-align: center;
}

button {
    color: black;
    width: 100%;
}

a {
    text-decoration: none;
    font-size: 1em;
    border-style: outset;
    border-width: 2px;
    border-radius: 3px;
    color: black;
    background-color: white;
    padding: 5px;
}

a:active {
    border-style: inset;
}

#actions {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2vmin;
    margin: 4vmin auto;
    width: 100vmin;
    justify-items: left;
}

#button-link {
    text-align: center;
    font-weight: bold;
	margin: 3vmin;
}

#container {
    position: relative;
    display: grid;
    width: 72vmin;
    grid-template-columns: 18vmin 30vmin 18vmin;
    grid-gap: 3vmin;
    margin: auto;
}

table {
    table-layout: fixed;
    border-spacing: 0;
}

th {
    font-weight: normal;
}

th, td {
    border: 1px solid transparent;
    padding: 0;
	border-style: outset;
}

#hold {
	grid-column: 1;
    grid-row: 1;
    width: 18vmin;
    height: 18vmin;
    justify-self: end;
}

#matrix {
    grid-column: 2;
    grid-row: 1 / 3;
    width: 30vmin;
    height: 72vmin;
}

#next {
    grid-column: 3;
    grid-row: 1 / 3;
    width: 18vmin;
    height: 72vmin;
}

#stats {
    grid-column: 1;
    grid-row: 2;
    height: 0;
    width: 18vmin;
    justify-self: end;
}

.name {
    font-family: 'Share Tech';
    text-align: left;
    font-size: 2.5vmin;
    color: white;
}

.value {
    font-family: 'Share Tech Mono';
    text-align: right;
    font-size: 2.5vmin;
    color: white;
}

.invisible-row {
    background-color: transparent;
    border-color: transparent;
}

.visible-row {
    background-color: transparent;
    border-color: rgba(128, 128, 128, 0.3);
    border-style: inset;
}

.tetromino-I {
    background-color: rgb(153, 255, 230);
    border-color: white;
}

.tetromino-J {
    background-color: rgb(153, 204, 255);
    border-color: white;
}

.tetromino-L {
    background-color: rgb(255, 204, 153);
    border-color: white;
}

.tetromino-O {
    background-color: rgb(255, 255, 153);
    border-color: white;
}

.tetromino-S {
    background-color: rgb(153, 255, 153);
    border-color: white;
}

.tetromino-T {
    background-color: rgb(204, 153, 255);
    border-color: white;
}

.tetromino-Z {
    background-color: rgb(255, 153, 153);
    border-color: white;
}

.locked-piece {
    background-color: white;
    border-color: white;
}

.cleared-line {
    background-color: white;
    border-color: white;
}

.trail {
    background-color: rgba(255, 255, 255, 0.4);
    border-color: rgba(255, 255, 255, 0.4);
}

.ghost {
    background-color: rgba(255, 255, 255, 0.4);
    border-color: rgba(255, 255, 255, 0.2);
    border-style: solid;
}

#message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3vmin;
    text-shadow: 1px 1px black;
    text-align: center;
    font-weight: bold;
}

#leaderboard {
    min-width: 25%;
    margin: auto;
    text-align: center;
    border-top: 1px solid white;
    caption-side: top;
}

.player {
    font-family: 'Share Tech';
    text-align: center;
    font-size: 2.5vmin;
    color: white;
}