.invisible-grid > .empty-cell {
    background: transparent;
    border: 1px solid transparent;
}

.visible-grid > .empty-cell {
    background: transparent;
    border: 1px inset rgba(128, 128, 128, 0.3);
}

.mino {
    border: 1px solid white;
    border-radius: 0vmin;
}

.I-mino {
    background: cyan;
}

.J-mino {
    background: blue;
}

.L-mino {
    background: orange;
}

.O-mino {
    background: yellow;
}

.S-mino {
    background: green;
}

.T-mino {
    background: magenta;
}

.Z-mino {
    background: red;
}

.locked-mino {
    background: white;
}

.cleared-line {
    background: white;
}

.trail {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 0vmin;
}

.ghost {
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 0vmin;
}
