.invisible-grid > .empty-cell {
    background: transparent;
    border: 1px solid transparent;
}

.visible-grid > .empty-cell {
    background: transparent;
    border: 1px inset rgba(128, 128, 128, 0.3);
}

.mino {
    border: 1px solid;
    border-radius: 0;
}

.I-mino {
    background: cyan;
    border-color: lightcyan;
}

.J-mino {
    background: blue;
    border-color: lightblue;
}

.L-mino {
    background: orange;
    border-color: lightgoldenrodyellow;
}

.O-mino {
    background: yellow;
    border-color: lightyellow;
}

.S-mino {
    background: green;
    border-color: lightgreen;
}

.T-mino {
    background: magenta;
    border-color: pink;
}

.Z-mino {
    background: red;
    border-color: lightpink;
}

.locked-mino {
    background: white;
    border-color: white;
}

.cleared-line {
    background: white;
}

.trail {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 0vmin;
}

.ghost {
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 0vmin;
}
