body {
    margin: 0;
    font-family: open sans,sans-serif;
    font-size: 14px;
    letter-spacing: .01em;
    color: white;
    background: #222;
    width: 100%;
    height: 100%;
}

h1 {
  text-align: center;
}

section {
    margin: 1em;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#settingsSection {
    width: auto;
}

fieldset {
    border: 0;
    font-size: 14px;
}

legend {
    font-size: 0.9em;
    color: #AAA;
}

fieldset > div {
    display: grid;
    grid-template-columns: 3fr 2fr 3fr 2fr;
    grid-column-gap: 2em;
    grid-row-gap: 1em;
    justify-items: right;
    align-items: center;
}

fieldset > div > * {
    width: 100%;
}

label {
    text-align: right;
}

#themePreviewTable {
    grid-column: 3 / 5;
    width: auto;
}

fieldset input[type="checkbox"] {
    width: auto;
}

#showGhostDiv {
    grid-row: 2;
    grid-column: 1/5;
    width: 100%;
}

#gameSection div {
    display: grid;
    grid-gap: 3vmin;
    margin: -3vmin 0 auto 0;
}

#holdTable {
    grid-column: 1;
    grid-row: 1;
    justify-self: end;
}

#matrixTable {
    grid-column: 2;
    grid-row: 1 / 4;
}

#messageSpan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 0.8);
    font-size: 4vmin;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.8);
    text-align: center;
    font-weight: bold;
}

#nextTable {
    grid-column: 3;
    grid-row: 1 / 4;
}


.minoes-table {
    table-layout: fixed;
    border-spacing: 0;
    margin: auto;
}

th, td {
    font-weight: normal;
    padding: 0;
    height: 3vmin;
    width: 3vmin;
}

th {
    border: 1px solid transparent;
}

td {
    border: 1px solid #444;
}

.mino {
    border: 1px solid;
    border-radius: 1px;
}

.I { /* cyan */
    background: #99d9ea;
    border-color: #d1edf5;
}

.J { /* blue */
    background: #7f92ff;
    border-color: #c2cbff;
}

.L { /* orange */
    background: #ffb27f;
    border-color: #ffe1cd;
}

.O { /* yellow */
    background: #ffe97f;
    border-color: #fff5ca;
}

.S { /* green */
    background: #7fff8e;
    border-color: #ccffd2;
}

.T { /* magenta */
    background: #d67fff;
    border-color: #edc9ff;
}

.Z { /* red */
    background: #ff7f7f;
    border-color: #ffdada;
}

.locked-mino, .cleared-line {
    background: #AAA;
    border: 1px solid #CCC;
    border-radius: 1px;
}

.trail {
    background: #333;
    border: 1px solid #444;
    border-radius: 1px;
}

.ghost {
    background: #555;
    border: 1px solid #666;
    border-radius: 1px;
}


#statsTable {
    grid-column: 1;
    grid-row: 3;
    height: 0;
    justify-self: end;
    margin: 0 auto;
}

#statsTable td {
    text-align: center;
    font-weight: bold;
    border: 0;
}

footer {
    position: absolute;
    left: 50%;
    bottom: 1em;
    transform: translateX(-50%);
}

a {
    text-decoration: none;
    color: lightblue;
}

#credits {
    font-size: 0.8em;
    gap: 0.8em;
}
