.empty-cell {
    background: transparent;
}

.invisible-grid > .empty-cell {
    border: 1px solid transparent;
}

.visible-grid > .empty-cell {
    border: 1px inset rgba(128, 128, 128, 0.3);
}

.mino {
    border: 1px inset rgba(128, 128, 128, 0.3);
    border-radius: 0;
}

.I-mino {
    background-image: url(images/blue_block.png);
}

.J-mino {
    background-image: url(images/navy_block.png);
}

.L-mino {
    background-image: url(images/peach_block.png);
}

.O-mino {
    background-image: url(images/yellow_block.png);
}

.S-mino {
    background-image: url(images/green_block.png);
}

.T-mino {
    background-image: url(images/purple_block.png);
}

.Z-mino {
    background-image: url(images/pink_block.png);
}

.locked-mino {
    background: white;
    border-radius: 1px;
}

.cleared-line {
    background: white;
}

.trail {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 1px;
}

.ghost {
    background: rgba(255, 255, 255, 0.4);
    border: 1px transparent;
    border-radius: 1px;
}
