body {
    margin: auto;
    font-family: sans-serif;
    color: white;
    background: #222;
    width: max-content;
}

h1 {
    text-align: center;
}

section {
    margin: 1em auto;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
}

fieldset {
    border: 1px solid #444;
    margin: 0.5em;
}

legend {
    font-size: 0.9em;
    color: #AAA;
}

fieldset > div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 2em;
    grid-row-gap: 1em;
    justify-items: right;
    align-items: center;
}

fieldset > div > * {
    width: 100%;
}

label {
    text-align: right;
}

#themePreviewTable {
    grid-column: 1 / 5;
    width: auto;
    margin: auto;
}

#gameSection div {
    display: grid;
    grid-gap: 3vmin;
    margin: -3vmin 0 auto 0;
}

#holdTable {
    grid-column: 1;
    grid-row: 1;
    justify-self: end;
}

#matrixTable {
    grid-column: 2;
    grid-row: 1 / 4;
}

#messageSpan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 0.8);
    font-size: 4vmin;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.8);
    text-align: center;
    font-weight: bold;
}
@keyframes message-fade-out {
    from {opacity: 1;}
    to {opacity: 0;}
}
.messageSpan-fade-out {
    animation: message-fade-out 500ms 500ms;
}

#nextTable {
    grid-column: 3;
    grid-row: 1 / 4;
}


.minoes-table {
    table-layout: fixed;
    border-spacing: 0;
    margin: -6vmin 0 auto 0;
}

th, td {
    font-weight: normal;
    padding: 0;
    height: 3vmin;
    width: 3vmin;
}

th {
    border: 1px solid transparent;
}

td {
    border: 1px solid #444;
}

.mino {
    border: 1px solid;
    border-radius: 1px;
}

.I { /* cyan */
    background: #99d9ea;
    border-color: #d1edf5;
}

.J { /* blue */
    background: #7f92ff;
    border-color: #c2cbff;
}

.L { /* orange */
    background: #ffb27f;
    border-color: #ffe1cd;
}

.O { /* yellow */
    background: #ffe97f;
    border-color: #fff5ca;
}

.S { /* green */
    background: #7fff8e;
    border-color: #ccffd2;
}

.T { /* magenta */
    background: #d67fff;
    border-color: #edc9ff;
}

.Z { /* red */
    background: #ff7f7f;
    border-color: #ffdada;
}

.locked-mino {
    background: #AAA;
    border: 1px solid #CCC;
    border-radius: 1px;
}

@keyframes mino-fade-out {
    from {
        background: rgba(170, 170, 170, 1);
        border: 1px solid #CCC;
    }
    to {
        background: rgba(170, 170, 170, 0);
        border: 1px solid #444;
    }
}
.cleared-line,
.trail {
    animation: mino-fade-out 200ms;
    background: transparent;
    border: 1px solid #444;
}

.ghost {
    background: #555;
    border: 1px solid #666;
    border-radius: 1px;
}


#statsTable {
    grid-column: 1;
    grid-row: 3;
    height: 0;
    justify-self: end;
    margin: 0 auto;
}

#statsTable td {
    text-align: center;
    font-weight: bold;
    border: 0;
}

a {
    text-decoration: none;
    color: lightblue;
}

footer > * {
    margin: 1em auto;
    width: 100%;
}

#credits {
    width: 100%;
    font-size: 0.8em;
    gap: 0.8em;
}



#leaderboard {
    min-width: 25%;
    margin: auto;
    text-align: center;
    border-top: 1px solid white;
    caption-side: top;
    border-spacing: 1em 0.2em;
}

#leaderboard caption {
    color: white;
}

#leaderboard tr,
#leaderboard td {
    border: 0 !important;
    margin: auto 10em;
}

#leaderboard td:first-child {
    text-align: left;
}

#leaderboard td:last-child {
    text-align: right;
}
